---
import Layout from '../layouts/Layout.astro';
import { applyCacheControl } from '../config/cache';
import { fetchPosts } from '../lib/payload';

const posts = await fetchPosts();

applyCacheControl(Astro.response.headers, {
  sMaxAge: 600,
  staleWhileRevalidate: 86400,
});
---

<Layout>
  <main>
    <h1>Astro + Payload CMS</h1>
    <p>Latest posts from Payload:</p>

    {
      posts.length ? (
        <ul>
          {posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>{post.title}</a>
            </li>
          ))}
        </ul>
      ) : (
        <p>No posts yet. Create one in Payload to see it here.</p>
      )
    }
  </main>
</Layout>
